.rain{
    animation-name: rain;
    animation-duration: 1s;
    animation-delay: var(--rain-delay);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 10px;
    height: 17px;
    border-radius: 50%;
    background-color: rgba(3, 125, 207, 0.603);
}

@keyframes rain {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100dvh);
    }
}